<main>
  <div class="float-left">
    <button type="button" mat-raised-button routerLink="/" class="btn btn-primary m-10">Voltar</button>
  </div>
  <div class="flex-center">
    <div class="glass">
      <form (ngSubmit)="onSubmit()">
        <h4 class="mb-4"> Bem vindo ao painel administrativo</h4>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="senha" id="password" name="senha"
            placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100 mt-4">Entrar</button>
      </form>
    </div>
  </div>
</main>
